.recipe-image{
    width: 500px;
    height: auto;
}

.calignment{
    text-align: center;
}

h1{
    text-align: center;
    font-family: "Roboto", Helvetica, sans-serif;
}
h2{
    text-align: center;
    color: grey;
    font-family: "Roboto", Helvetica, sans-serif;
}

p{
    text-align: center;
    font-family: "Roboto", Helvetica, sans-serif;
}

ul,
ol,
li{
    text-align: center;
}
ul{
    list-style: none;
}

.title{
    background-color: antiquewhite;
    color: rgb(65, 65, 65);
}
